/* Vars */

html {
  --main-color1: #043873;
  --main-color2: #4f9cf9;
  --main-white-color: white;
  --secondary-color1: #ffe492;
}

/* Header */

.nav-block {
  display: none;
}

.main-header {
  background-color: var(--main-color1);
  color: var(--main-white-color);
}

.main-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 2rem;
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
  display: inline-block;
  line-height: 1.2;
  font-weight: 700;
  display: flex;
  gap: 0.6rem;
  align-items: center;
}
.logo svg {
  width: 2.6rem;
  height: 2.1rem;
}

.logo img {
  width: 2.6rem;
}

.burger {
  font-size: 2.8rem;
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
}

/* Hero sekcija  ============= */

.hero {
  color: var(--main-white-color);
}

h1 {
  font-size: 3.6rem;
  letter-spacing: -0.02em;
}

.section .text {
  font-size: 1.8rem;
  line-height: 1.7;
  letter-spacing: -0.02em;
  margin-bottom: 6rem;
}

.hero .btn {
  margin-bottom: 10rem;
}

/* Work together */

.work .btn {
  margin-bottom: 6rem;
}

.work article:not(:last-child) {
  margin-bottom: 10rem;
}

/* Price plan section */
.price-plans {
  margin-bottom: 8.5rem;
}
.price-plan {
  padding: 2rem;
  border-radius: 1rem;
}

.price-plan-features {
  list-style: none;
  padding-left: 0;
}
.plan-feature {
  background: url('/img/parts/yellow-check.png') no-repeat left center;
  padding-left: 3.7rem;
  margin-bottom: 2.8rem;
  background-size: 1.8rem;
}

.price-plan--white .plan-feature {
  background: url('/img/parts/Ckeck.svg') no-repeat left center;
  background-size: 1.8rem;
}

.plan-feature:last-child {
  margin-bottom: 2.5rem;
}
.plan-title {
  font-size: 2.4rem;
  margin-bottom: 0.6em;
}

.plan-price {
  font-size: 3.6rem;
  letter-spacing: -0.02em;
  color: var(--secondary-color1);
}

/* white plans */
.price-plan--white .plan-price {
  color: black;
}
.price-plan--white {
  border: 1px solid var(--secondary-color1);
}

.price-plan--white {
  display: none;
}

.price-plans {
  display: flex;
  gap: 3.2rem;
  align-items: center;
}

/* dots */

.plan-control {
  display: flex;
  justify-content: center;
  gap: 1.2rem;
}
.dot {
  width: 1.2rem;
  height: 1.2rem;
  background-color: var(--main-color2);
  display: block;
  border-radius: 50%;
}

.dot.active {
  background-color: var(--main-color1);
}

/* work-everywhere-section */

.work-everywhere-section {
  padding-top: 10rem;
  padding-bottom: 14rem;
}
.work-everywhere-section .title {
  margin-bottom: 0.4em;
}

/* Sponsors */

.sponsors-section .title {
  margin-bottom: 10rem;
}

.sponsors {
  display: flex;
  flex-direction: column;
  gap: 10rem;
  align-items: center;
}

/* Svg example */

.sample-svg .svg-round {
  stroke: #4f9cf9;
}
.sample-svg:hover .svg-round {
  stroke: tomato;
}
.sample-svg .svg-check {
  stroke: #4f9cf9;
}
.sample-svg:hover .svg-check {
  stroke: var(--main-color1);
}

/* FOOTER -------------------- */

footer {
  padding-top: 10rem;
  padding-bottom: 3.2rem;
}

footer .title {
  font-size: 4rem;
  margin-bottom: 2.4rem;
}

footer .text {
  font-size: 1.8rem;
  line-height: 1.7;
  letter-spacing: -0.02em;
  margin-bottom: 4rem;
}

.footer-top .btn {
  margin-bottom: 4rem;
}

.os-icons-container {
  display: flex;
  gap: 4rem;
  align-items: center;
}

/* footer main */

.logo--footer {
  justify-content: center;
}

.footer--title,
.footer-link {
  font-size: 1.8rem;
  display: block;
}
.footer-link {
  margin-bottom: 1.5rem;
}

.footer-products {
  margin-bottom: 8rem;
}
