@media screen and (min-width: 1400px) {
  /* common */
  .container {
    max-width: 133.6rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }
  .text {
    text-align: left;
  }
  .section .title {
    font-size: 7.2rem;
  }
  /* Header */
  .logo {
    font-size: 3.4rem;
  }
  .main-header {
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
  }

  .burger {
    display: none;
  }

  .nav-block {
    display: flex;
    align-items: center;
    gap: 8rem;
  }

  .nav-block .btn-secondary {
    margin-right: 2.4rem;
  }

  .nav-link {
    padding: 0.5em 1em;
  }

  /* Hero sekcija */

  .hero .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    align-items: center;
  }

  .hero-text-block {
    text-align: left;
  }
  .hero .btn {
    margin-bottom: 0;
  }
  h1 {
    font-size: 6.4rem;
    margin-bottom: 2.4rem;
  }
  .hero-img {
    /* reikia kad butu 456px ir nepadidetu plotis ir neissitampytu */
    min-height: 45.6rem;
    object-fit: cover;
  }

  /* Work together section */
  .work-article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
  }
  .work-article .right {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    width: 100%;
    object-fit: cover;
  }
  .work-article .text-block,
  .work-article-flex .text-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .work-article .btn,
  .work-article-flex .title {
    margin-bottom: 0;
  }
  .work-article .title,
  .work-article-flex .title {
    margin-bottom: 2.4rem;
  }

  /* flex */
  .work-article-flex {
    display: flex;
    flex-direction: row-reverse;
    gap: 1.5rem;
  }
  .work-article-flex .text-block {
    max-width: 50%;
    padding-left: 15rem;
  }
  .work-article-flex .img-left {
    width: 50%;
    object-fit: cover;
  }

  /* Price plan */
  .price-plans {
    display: flex;
    gap: 3.2rem;
    align-items: center;
  }
  .price-plan {
    width: 33%;
    padding-top: 8em;
    padding-bottom: 8rem;
  }
  .price-plan--white {
    border: 1px solid var(--secondary-color1);
    padding-top: 4em;
    padding-bottom: 4rem;
    display: block;
  }

  .price-plans-section .text {
    text-align: center;
  }
  .price-plans-section .title {
    margin-bottom: 2.4rem;
  }
}
